<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/react/dist/react.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/react-dom/dist/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/createjs-module/vendor_modules/EaselJS-0.8.2/lib/easeljs-0.8.2.min.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='JS/ReactComponentProject.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/ShapeGenerator.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/TrashGenerator.js') }}"></script>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/materialize-css/bin/materialize.css') }}">
    <script src="{{ url_for('static', filename='node_modules/materialize-css/bin/materialize.js') }}"></script>
</head>

<body onload="init();">
<div class="row">
    <div class="col s3">
        <div class="row">
            <div id="classifier">
                <!--  RENDER LIST CLASSIFIER BY REACT -->
            </div>
        </div>
    </div>
    <div class="col s6">
        <canvas id="demoCanvas" width="600" height="600"
                style="border: 1px solid black; width: 100%; height: 100% "></canvas>
        <div class="row">
            <form id="my-form" class="col s12 center-align">
                <button class="btn" type="submit">Process</button>
            </form>
        </div>
        <div class="row">
            <div id="response" class="col s12 center-align">
                <!-- RENDER RESPONSE AJAX BY REACT -->
            </div>
        </div>
    </div>
    <div class="col s2">
        <div class="row">

        </div>
        <div class="row center-align">
            <div id="formClassificator">
                <!-- RENDER FORM PARAMETERS FOR SHAPE CLASSIFIER BY REACT -->
            </div>
        </div>

    </div>
</div>
<script>

    // --------------------------------- initialisation of the canvas --------------
    function init() {
        var idShape = 0;
        // -------------------------- request Get in ajax ------------
        $.getJSON("backend", function success(dictDataReceive) {
                // generate button list with all name classifier
                shareRenderButtonList(dictDataReceive);
            }
        );

        // --------------------------------- init canvas ---------------------
        var stage = new createjs.Stage("demoCanvas");
        createjs.Ticker.addEventListener("tick", handleTick);

        function handleTick(event) {
                stage.update();
        };

        // ------------------------- func global for add shape to stage ---------------------
        window.addShape = function (nameClassifier, dictParamsClassifier) {
            var sizeCanvas = {"width": stage.canvas.width, "height": stage.canvas.height};
            var shapeTemp = new ShapeGenerator(idShape.toString(), nameClassifier, dictParamsClassifier, sizeCanvas);
            stage.addChild(shapeTemp);
            idShape++;
        };

        window.removeShape = function (idShape) {
            stage.removeChild(stage.getChildByName(idShape));
            shareRenderInitFormulaireShape();
        };

        window.updateShapeParam =function (idShape, dictParams) {
            stage.getChildByName(idShape).updateDictData(dictParams);
        };

        window.removeAllChildren = function () {
            stage.removeAllChildren();
        };
        // -------------------------- return request --------------
        window.getDFS = function () {
            var res = {};
            //parcour all shape on canvas and return a dict
            // like this {id : {name : {params classifier}} }
            for (var indexShape in stage.children) {
                    res[stage.children[indexShape].name] = stage.children[indexShape].getDataDict();
            }
            return res;
        };
    }
    (jQuery);


    // -------------------------------- send data to backend in ajax -------------------------
    (function ($) {
        function processForm(e) {
            // recup all value to push on backend
            var dataToSend = window.getDFS();
            console.log(dataToSend);
            // ajax POST
            $.ajax({
                url: 'backend',
                dataType: 'text',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(dataToSend),
                //data: JSON.stringify({"SVC": {"C": 1.0, "kernel": "rbf", "cache_size": 200, "tol": 0.001, "max_iter": -1, "class_weight": null, "shrinking": true, "degree": 3, "random_state": null, "coef0": 0.0, "decision_function_shape": null, "gamma": "auto", "probability": false, "verbose": false}}),
                success: function (dataReceive, textStatus, jQxhr) {
                    window.shareRenderResult(JSON.parse(dataReceive));
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });

            e.preventDefault();
        }
        $('#my-form').submit(processForm);
    })(jQuery);

</script>
</body>
</html>