<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/react/dist/react.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/react-dom/dist/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/createjs-module/vendor_modules/EaselJS-0.8.2/lib/easeljs-0.8.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/axios/dist/axios.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='JS/ReactComponentProject.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/ShapeGenerator.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/EnsembleShapeGenerator.js') }}"></script>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/materialize-css/bin/materialize.css') }}">
    <script src="{{ url_for('static', filename='node_modules/materialize-css/bin/materialize.js') }}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body onload="init();">
<div class="row">
    <div class="col s3">
        <div class="row">
            <div id="classifier">
                <!--  RENDER LIST CLASSIFIER BY REACT -->
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="row">

        </div>
        <canvas id="demoCanvas" width="600" height="600"
                style="border: 1px solid black; width: 100%; height: 100% "></canvas>
        <div class="row">
            <form id="my-form" class="col s12 center-align">
                <div class="col s6">
                    <a class="waves-effect waves-light btn" onclick="{$('#modal1').modal().modal('open')}">Reset
                        canvas</a>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Delete all classificators !</h4>
                            <p>are you sure to want to delete all classificators into the canvas ?</p>
                        </div>
                        <div class="modal-footer">
                            <a onclick="{removeAllChildren()}"
                               class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            <a onclick="{$('#modal1').modal('close')}"
                               class="modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <button class="btn" type="submit">Process</button>
                </div>
            </form>


        </div>
        <div class="row">
            <div id="response" class="col s12 center-align">
                <!-- RENDER RESPONSE AJAX BY REACT -->
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="row center-align">
            <div id="formClassificator">
                <!-- RENDER FORM PARAMETERS FOR SHAPE CLASSIFIER BY REACT -->
            </div>
        </div>
    </div>
</div>
<script>
    let Colors = {
        aqua: "#00ffff",
        azure: "#f0ffff",
        beige: "#f5f5dc",
        blue: "#0000ff",
        brown: "#a52a2a",
        cyan: "#00ffff",
        fuchsia: "#ff00ff",
        gold: "#ffd700",
        green: "#008000",
        khaki: "#f0e68c",
        lightblue: "#add8e6",
        lightcyan: "#e0ffff",
        lightgreen: "#90ee90",
        lightgrey: "#d3d3d3",
        lightpink: "#ffb6c1",
        lightyellow: "#ffffe0",
        lime: "#00ff00",
        orange: "#ffa500",
        pink: "#ffc0cb",
        red: "#ff0000",
        silver: "#c0c0c0",
        white: "#ffffff",
        yellow: "#ffff00"
    };
    // --------------------------------- initialisation of the canvas --------------
    function init() {
        let idShape = 0;
        // -------------------------- request Get in ajax ------------
        $.getJSON("backend", function success(tabDataReceive) {
                // generate button list with all name classifier
                shareRenderButtonList(tabDataReceive);
            }
        );

        // --------------------------------- init canvas ---------------------
        let stage = new createjs.Stage("demoCanvas");
        createjs.Ticker.addEventListener("tick", handleTick);

        function handleTick() {
            stage.update();
        }

        window.hitShape = function (nameShape) {
            if (stage.getChildByName(nameShape).nameClassifier != "Ensemble Learning") {
                for (let indexShape in stage.children) {
                    if (stage.children[indexShape].name !== nameShape) {
                        let pt = stage.getChildByName(nameShape).localToLocal(0, 0, stage.children[indexShape]);
                        if (stage.children[indexShape].hitTest(pt.x, pt.y)) {
                            if (stage.children[indexShape].nameClassifier != "ensemble Learning") {
                                // 2 shape yello
                                if (confirm('ensemble learning ?')) {
                                    const sizeCanvas = {"width": stage.canvas.width, "height": stage.canvas.height};
                                    let ensembleShapeTemp = new EnsembleShapeGenerator(idShape.toString(), sizeCanvas, stage.getChildByName(nameShape).getDataDict(), stage.children[indexShape].getDataDict());
                                    stage.addChild(ensembleShapeTemp);
                                    removeShape(stage.children[indexShape].name);
                                    removeShape(nameShape);
                                    idShape++;
                                }
                                else {
                                    stage.getChildByName(nameShape).resetPositionShape();
                                }
                            } else {
                                // shape moved is yellow and shape under is ensemble
                                if (confirm('add shape to ensemble ?')) {
                                    stage.children[indexShape].addClassifier(stage.getChildByName(nameShape).getDataDict());
                                    removeShape(stage.getChildByName(nameShape).name);
                                } else {
                                    stage.getChildByName(nameShape).resetPositionShape();
                                }
                            }
                        }
                    }
                }
            }
        };

        // ------------------------- func global for add shape to stage ---------------------
        window.addShape = function (nameClassifier, dictParamsClassifier, dictDescriptionParamsClassifier) {
            const sizeCanvas = {"width": stage.canvas.width, "height": stage.canvas.height};
            let shapeTemp = new ShapeGenerator(idShape.toString(), nameClassifier, dictParamsClassifier, dictDescriptionParamsClassifier, sizeCanvas);
            stage.addChild(shapeTemp);
            idShape++;
        };
        window.CreateEnsembleShape = function (nameClassifier, dictParamsClassifier) {
            idShape++;
        };

        window.removeShape = function (idShape) {
            stage.removeChild(stage.getChildByName(idShape));
            shareRenderInitFormulaireShape();
        };
        window.removeEnsembleShape = function (idShapeParent, idShapeChild) {
            stage.getChildByName(idShapeParent).removeSubShape(idShapeChild);
        };

        window.updateShapeParam = function (idShape, dictParams) {
            stage.getChildByName(idShape).updateDictData(dictParams);
        };
        window.updateShapeEnsembleParam = function (idShapeChild, dictParamsChild, idShapeParent) {
            stage.getChildByName(idShapeParent).updateDictData(idShapeChild, dictParamsChild);
        };

        window.removeAllChildren = function () {
            stage.removeAllChildren();
            shareRenderInitFormulaireShape();
            window.shareRenderResetResult();
            Materialize.toast('new empty canvas !', 2500, 'rounded');
        };

        window.getAllChildren = function () {
            return stage.children;
        };
        // -------------------------- return request --------------
        window.getDFS = function () {
            let res = {};
            //parcour all shape on canvas and return a dict
            // like this {id : {name : {params classifier}} }
            for (let indexShape in stage.children) {
                res[stage.children[indexShape].name] = stage.children[indexShape].getDataDict();
            }
            return res;
        };
        window.startDownload = function (idShape) {
            let dataToSend = stage.getChildByName(idShape).getDataDict();
            $.ajax({
                async: true,
                url: 'index/getfile',
                dataType: 'text',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(dataToSend[0]),
                success: function (dataReceive, textStatus, jQxhr) {
                    window.open('index/getfile', 'Download');
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            })
        }
    }


    // -------------------------------- send data to backend in ajax -------------------------
    $('#my-form').submit(function (e) {
        e.preventDefault();
        let arr = [];
        let tabtest = [];
        let tabResult = {};
        let dataToSend = getDFS();
        for (let name in dataToSend) {
            tabtest.push(dataToSend[name]);
        }
        tabtest.forEach(function (elementInTab) {
            arr.push(
                $.ajax({
                    async: true,
                    url: 'backend',
                    dataType: 'text',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(elementInTab),
                    //data: JSON.stringify({"SVC": {"C": 1.0, "kernel": "rbf", "cache_size": 200, "tol": 0.001, "max_iter": -1, "class_weight": null, "shrinking": true, "degree": 3, "random_state": null, "coef0": 0.0, "decision_function_shape": null, "gamma": "auto", "probability": false, "verbose": false}}),
                    success: function (dataReceive, textStatus, jQxhr) {
                        window.shareRenderResetResult();
                        let temp = JSON.parse(dataReceive);
                        console.log(temp);
                        for (let i in temp) {
                            tabResult[i] = temp[i];
                        }
                        window.shareRenderResult(tabResult, tabtest.length);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                })
            )
        });
        $.when.apply(undefined, arr).then(function () {
            Materialize.toast('all cross-validation done !', 3000, 'rounded');
        });
    });

    window.renderMatrix = function (response) {
        window.open('index/matrix', 'Image');
    }
</script>
</body>
</html>