<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testAjax</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/react/dist/react.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/react-dom/dist/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/createjs-module/vendor_modules/EaselJS-0.8.2/lib/easeljs-0.8.2.min.js') }}"></script>
    <script type="text/babel" src="{{ url_for('static', filename='JS/ReactComponentProject.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/ShapeGenerator.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/TrashGenerator.js') }}"></script>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/materialize-css/bin/materialize.css') }}">
    <script src="{{ url_for('static', filename='node_modules/materialize-css/bin/materialize.js') }}"></script>
</head>
<body>
 <div class="row">
            <div id="response" class="col s12 center-align">
                <!-- RENDER RESPONSE AJAX BY REACT -->
            </div>
        </div>
</body>
<script>

tabtest = [1, 2, 3, 4, 5, 6];
    var arr = [];

    tabtest.forEach(function (elementInTab) {
       arr.push(
            $.getJSON("backend", function success(data) {
                   Materialize.toast('task '+ elementInTab+' done !', 3000, 'rounded');
            }))});
    $.when.apply(undefined, arr).then(function () {
        Materialize.toast('all tasks done !', 3000, 'rounded');
    });</script>
</html>