<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
    <script type="text/babel" src="{{url_for('static', filename='JS/test.js')}}"></script>
    <script src="{{url_for('static', filename='JS/ShapeGenerator.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>

<body onload="init();">
<div class="row">
    <div class="col s3">
        <div class="row">
            <div id="app">
            </div>
        </div>
    </div>
    <div class="col s6">
        <canvas id="demoCanvas" width="600" height="400"></canvas>
        <form id="my-form">
            <button type="submit">Submit</button>
        </form>
        <div id="response">

        </div>
    </div>
    <div class="col s2">
        <div id="formClassificator">
        </div>
    </div>
</div>
<script>
    // create tab container of shape
    var listShapeOnCanvas = [];
    // create tab contain all name of classifier
    var listOfAllNameClassifier = [];
    // dictionnary contain return request get (all classifier and params)
    var dictAllClassificator = {};

    // fonction contain all classifier and params
    window.getData = function () {
        return dictAllClassificator;
    };

    // --------------------------------- initialisation of the canvas --------------
    function init() {
        // -------------------------- request Get in ajax ------------
        $.getJSON("backend", function success(data) {
                dictAllClassificator = data;

                for (var key in data) {
                    listOfAllNameClassifier.push(key);
                }
                // generate button list with all name classifier
                shareRenderButtonList(listOfAllNameClassifier);
            }
        );

        // --------------------------------- init canvas ---------------------
        var stage = new createjs.Stage("demoCanvas");
        createjs.Ticker.addEventListener("tick", handleTick);
        function handleTick(event) {
            stage.update();
        };

        // ------------------------- func global for add shape to stage ---------------------
        window.addShape = function (name) {
            var temp = new ShapeGenerator(name);
            stage.addChild(temp);
            listShapeOnCanvas.push(temp);
        };

        // -------------------------- return request --------------
        window.getDFS = function () {
            var res = {};

            //parcour all shape on canvas and return a dict
            // like this {id : {name : {params classifier}} }
            for (var indexShape in listShapeOnCanvas) {
                res[indexShape] = listShapeOnCanvas[indexShape].getDataDict();
            }
            return res;
        };

        window.removeShape = function (idShape) {
            // TODO remove the shape by id
        }
    };

    // -------------------------------- send data to backend in ajax -------------------------
    (function ($) {
        function processForm(e) {
            // recup all value to push on backend
            var dataToSend = window.getDFS();

            // ajax POST
            $.ajax({
                url: 'backend',
                dataType: 'text',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(dataToSend),
                //data: JSON.stringify({"SVC": {"C": 1.0, "kernel": "rbf", "cache_size": 200, "tol": 0.001, "max_iter": -1, "class_weight": null, "shrinking": true, "degree": 3, "random_state": null, "coef0": 0.0, "decision_function_shape": null, "gamma": "auto", "probability": false, "verbose": false}}),
                success: function (dataReceive, textStatus, jQxhr) {
                    window.shareRenderResult(JSON.parse(dataReceive));
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });

            e.preventDefault();
        }
        $('#my-form').submit(processForm);
    })(jQuery);

</script>

</body>
</html>