<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>

  <form method="POST" action="index">
  Name of classificator:<br>
    <input type="text" name="Clf" value="SVM"><br>
      <input type="hidden" value="1" name="GridSearch" />
      <input type="hidden" value="None" name="Result" />
      <input type="hidden" value="" name="ParamsGrid" />
    <button type="submit">envoyer</button>
</form>

  </body>
</html>

